@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-top: 15px;
    gap: 10px;
    min-height: 100vh;
}

.int {
    width: 600px;
    height: 100px;
    border: 1px solid #babfc3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.time {
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time1 {
    width: 250px;
    height: 120px;
    /* background-color: red; */
    border-radius: 15px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span {
    color: #fff;
    font-size: 3rem;
}

.date {
    width: 700px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: green; */
}

.date1 {
    width: 250px;
    height: 150px;
    /* background-color: blue; */
    border: 1px solid #babfc3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date1 p {
    color: #fff;
    font-size: 1.55rem;
}

.date1 h3 {
    color: #fff;
    font-size: 1.95rem;
    font-weight: 500;
}

.cinema {
    width: 500px;
    height: 700px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.cinema span {
    color: aqua;
}

.screen {
    width: 400px;
    height: 10px;
    background-color: red;
}

.seats {
    width: 450px;
    height: 550px;
    /* border: 1px solid #a5a9ad; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rows {
    width: 350px;
    height: 60px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icns {
    width: 50px;
    height: 50px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icns i {
    font-size: 1.5rem;
    color: #fff;
}

.icns i:hover {
    color: aqua;
    cursor: pointer;
}

.hints {
    width: 400px;
    height: 40px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hints p {
    color: #fff;
}

.hint {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

@media screen and (max-width:768px) {
    .int {
        width: 380px;
    }

    .cinema {
        width: 385px;
    }

    .screen {
        width: 350px;
    }

    .seats {
        width: 400px;
    }

    .hints {
        width: 330px;
    }

    .date {
        width: 375px;
    }

    .date1 {
        height: 100px;
    }

    .date1 p {
        color: #fff;
        font-size: 1.05rem;
    }

    .date1 h3 {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 500;
    }

}